
*.xml
out/production/Othello/Turn.class
out/production/Othello/SquareState.class
out/production/Othello/GameEngine.class
out/production/Othello/BoardVisual.class
out/production/Othello/Board.class
out/production/Othello/Assets/disc_whiteBgr.png
out/production/Othello/Assets/disc_white.png
out/production/Othello/Assets/disc_white.pdn
out/production/Othello/Assets/disc_blackBgr.png
out/production/Othello/Assets/disc_black.png
out/production/Othello/Assets/disc_black.pdn
out/production/Othello/Assets/Bgr.png
out/production/Othello/AI/Stupid.class
out/production/Othello/AI/AI.class
.idea/workspace.xml
